## [ Visual Studio 프로젝트 및 솔루션 파일 제외 ]
*.sln
*.slnx
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

## [ 빌드 결과물 및 중간 파일 제외 ]
.vs/
out/
x64/
x86/
Debug/
Release/
*.obj
*.pdb
*.ilk
*.log
*.tlog

## [ 기타 캐시 파일 ]
*.VC.db
*.VC.opendb


*.vscode